# 18  ta CSV fayllarni bitta yagona datasetga birlashtirib, uni yangi fayl sifatida saqlaymiz.

In [2]:
import pandas as pd
import os

# üìÅ Fayllar joylashgan joy: Merging_Data
source_folder = r"C:\Users\Rasulbek907\Desktop\Final_Project\Data\Merging_Data"

# üìÑ Fayllar ro'yxati
filenames = [f"hf_dataset{i}.csv" for i in range(1, 19)]

# üì• CSV fayllarni o'qib birlashtirish
dataframes = []
for file in filenames:
    file_path = os.path.join(source_folder, file)
    if os.path.exists(file_path):
        df = pd.read_csv(file_path)
        dataframes.append(df)
        print(f"‚úÖ Yuklandi: {file}")
    else:
        print(f"‚ùå Topilmadi: {file}")

# üß© Barchasini birlashtirish
if dataframes:
    merged_df = pd.concat(dataframes, ignore_index=True)

    # üì§ Yangi faylni saqlash manzili (Raw_data papkasi)
    output_path = r"C:\Users\Rasulbek907\Desktop\Final_Project\Data\Raw_data\merged_dataset.csv"
    merged_df.to_csv(output_path, index=False, encoding='utf-8')

    print(f"\n‚úÖ Yangi fayl saqlandi: {output_path}")
else:
    print("\n‚ö†Ô∏è Hech qanday fayl topilmadi yoki yuklanmadi.")

‚úÖ Yuklandi: hf_dataset1.csv
‚úÖ Yuklandi: hf_dataset2.csv
‚úÖ Yuklandi: hf_dataset3.csv
‚úÖ Yuklandi: hf_dataset4.csv
‚úÖ Yuklandi: hf_dataset5.csv
‚úÖ Yuklandi: hf_dataset6.csv
‚úÖ Yuklandi: hf_dataset7.csv
‚úÖ Yuklandi: hf_dataset8.csv
‚úÖ Yuklandi: hf_dataset9.csv
‚úÖ Yuklandi: hf_dataset10.csv
‚úÖ Yuklandi: hf_dataset11.csv
‚úÖ Yuklandi: hf_dataset12.csv
‚úÖ Yuklandi: hf_dataset13.csv
‚úÖ Yuklandi: hf_dataset14.csv
‚úÖ Yuklandi: hf_dataset15.csv
‚úÖ Yuklandi: hf_dataset16.csv
‚úÖ Yuklandi: hf_dataset17.csv
‚úÖ Yuklandi: hf_dataset18.csv

‚úÖ Yangi fayl saqlandi: C:\Users\Rasulbek907\Desktop\Final_Project\Data\Raw_data\merged_dataset.csv

In [1]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Final_Project\Data\Raw_data\merged_dataset.csv")

In [4]:
df.head()

,name,birth_date,birth_place,death_date,death_place,nationality,occupation,years_active,known_for,awards,alma_mater,education,employer,notable_works,field,spouse,children,parents,religion,genre
0,Isaac Newton,{{Birth date|df=y|1643|01|04}},"{{nowrap|[[Woolsthorpe-by-Colsterworth]],}} Li...",{{Death date and age|df=y|1727|03|31|1643|01|04}},"[[Kensington]], Middlesex, England",NaN,NaN,NaN,{{collapsible list|[[Classical mechanics|Newto...,{{unbulleted list | [[Fellow of the Royal Soci...,NaN,"[[Trinity College, Cambridge]] ([[Bachelor of ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Marie Curie,{{birth date|df=y|1867|11|7}},"[[Warsaw]], [[Congress Poland|Poland]], Russia...",{{death date and age|df=y|1934|7|4|1867|11|7}},"[[Passy, Haute-Savoie|Passy]], [[Rh√¥ne-Alpes]]...",NaN,NaN,NaN,{{plainlist|,NaN,[[University of Paris]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albert Einstein,{{Birth date|df=yes|1879|3|14}},"[[Ulm]], [[Kingdom of W√ºrttemberg]], Germany<r...",{{Death date and age|df=yes|1955|4|18|1879|3|14}},"[[Princeton, New Jersey]], U.S.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{{plainlist|,{{flatlist|,NaN,NaN,NaN
3,The Countess of Lovelace,{{birth date|df=y|1815|12|10}},"London, England",{{death date and age|df=y|1852|11|27|1815|12|10}},"[[Marylebone]], London, England",British,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{{marriage|[[William King-Noel, 1st Earl of Lo...",{{plainlist|,{{Plainlist |,NaN,NaN
4,Leonardo da Vinci,{{birth date|df=yes|1452|04|15}},"possibly [[Anchiano]],{{efn|name=Birthplace}} ...",{{death date and age|df=yes|1519|5|2|1452|4|15}},"[[Clos Luc√©]], [[Amboise]], {{awrap|[[Kingdom ...",NaN,NaN,{{circa|1470‚Äì1519}},{{hlist|Painting|drawing|engineering|anatomica...,NaN,NaN,Studio of [[Andrea del Verrocchio]],NaN,{{plainlist|,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2022 entries, 0 to 2021
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           2011 non-null   object
 1   birth_date     1759 non-null   object
 2   birth_place    1741 non-null   object
 3   death_date     1239 non-null   object
 4   death_place    1170 non-null   object
 5   nationality    233 non-null    object
 6   occupation     630 non-null    object
 7   years_active   191 non-null    object
 8   known_for      238 non-null    object
 9   awards         382 non-null    object
 10  alma_mater     335 non-null    object
 11  education      439 non-null    object
 12  employer       10 non-null     object
 13  notable_works  95 non-null     object
 14  field          228 non-null    object
 15  spouse         793 non-null    object
 16  children       522 non-null    object
 17  parents        119 non-null    object
 18  religion       78 non-null     object
 19  genre          187 non-null    object
dtypes: object(20)
memory usage: 316.1+ KB

In [3]:
column_names = df.columns.tolist()
print(column_names)

['name', 'birth_date', 'birth_place', 'death_date', 'death_place', 'nationality', 'occupation', 'years_active', 'known_for', 'awards', 'alma_mater', 'education', 'employer', 'notable_works', 'field', 'spouse', 'children', 'parents', 'religion', 'genre']